html {
  background-color: #f5eaea;
  color: brown;
}
h1{
  color: red;
}
table{
  font-size: large;
  color: blue;
  border-color: blue;
}
abbr{
  color: blue;
}
a{
  color: limegreen;
  font-size: 20px;
}

#my-lovely{
  color: rgb(55, 13, 243);
}
.first{
  background-color: #bc8f8f;
  border-bottom: blue;
  font-size: xx-large;
  padding: 3% 1% 5% 5%;
  
}
.table {
  border: 4px blue solid;
  margin-top: ;
  margin-right: 20%;
  margin-left: 50%;
  margin-bottom: 10%;
 }
.table th{
  border: 1px blue solid;
}
.gata{
  height:  400px;
  border-radius: 10%;
  margin: 0 auto;
  display: block;
}
